/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}
.container {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
  
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
  
}
.card {
  background: white;
  border-radius: 8px;
  cursor: default;
}


.card .image-box {
  height: 300px;
  
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 40%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: white;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}




.container{
  position: absolute;
}

.profile-details .name-job .sign{
  margin-top: 5px;
}

.sign:hover{
  background-color: black;
  color: white;
  transition-duration: 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.nav{
  margin-bottom: 570px;
}

.nav ul {
  color: white;
  display: flex;
  font-size: x-large;
  list-style: none; 
}

.nav ul li{
  padding-top: 20px;
}

.main{
  padding-left: 20px;
  font-weight: bold;
}

.nav ul a{
  text-decoration: none;
  color: white;
}

.nac ul a::before{
  text-decoration: none;
}

.side{
  padding-left: 650px;
  padding-right: 50px;
}


.profile-details .name {
  font-size: 20px;
}
/* uts ka code h */

/*  */

.imagel{
  display: flex;
  position: fixed;
  padding-right: 830px;

}

/*  */
@media (max-width:768px){

  .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    top: 450px;
  }
  .header h2{
  display: flex;   
  margin-right: 0px;
  }

#hehe{
  margin-right: 0px;
  position: fixed;
  margin-left: 120px;
  padding-top: 0px;
}
  .Categories{
    visibility: hidden;
  }
  .cs{
visibility: hidden;
  }

  .container{
    padding-top: 0px;
    padding-bottom: 150px;
  }
  
}






